/* Carousel Customization - Images and Carousel size */
.carousel .carousel-item {
  height: 270px;
}

.carousel-item-img {
    position: absolute;
    object-fit:cover;
	top:0;
	left:0;
    min-height: 270px;
}

/* Carousel Customization - Aligning and Font Size Caption Text*/
.caro-text-left {
    top: 15%;
    margin-right: 35%;
}

.caro-text-right {
    top: 15%;
    margin-left: 35%;
}

.carousel-item p {
    font-size: larger;
}

/* Carousel Customization - Customizing arrow controls */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* Page Background Color */
.bg-main {
    background-color: #FAF6EE !important;
}

/* Card Custom */
#card-image{
    align-self: center;
	max-width: 75%;
}

/* horiontal rule  */
.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-stopper:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -6px;
	left: calc(50% - 7px);
	width: 14px;
	height: 12px;
	background-color: #FAF6EE;
	border-left: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}